---
import "../styles/global.css"
import { Icon } from 'astro-icon/components';
import { contacts } from "../data/contacts"

const links: string[] = ["about", "experiences", "education", "projects", "skills"];
---

<div class="flex flex-row justify-between items-center border-b border-b-neutral-500 fixed w-full max-w-7xl left-1/2 -translate-x-1/2 top-0 z-[999] md:px-10 px-6 py-4 text-subheading rounded-b-xl shadow-md shadow-neutral-900 backdrop-blur-md">
  <a class="text-white hover:text-primary-300 transition-colors duration-300" href="/">aniruddha</a>
  <div class="md:flex hidden flex-row xl:gap-10 md:gap-6 ">
    {links.map(link => (
      <a href=`#${link}` class="text-link">{link}</a>
    ))}
  </div>
  <div class="md:hidden block h-full">
    <input type="checkbox" id="nav" class="hidden">
    <label for="nav" class="block relative h-full w-7 px-[0.25rem] py-3 z-[100] cursor-pointer">
      <div class="h-3 relative">
        <div class="absolute h-0.25 w-full top-0 bg-neutral-500"></div>
        <div class="absolute h-0.25 w-full top-1/2 -translate-y-1/2 bg-neutral-500"></div>
        <div class="absolute h-0.25 w-full bottom-0 bg-neutral-500"></div>
      </div>
    </label>
    <label for="nav" class="overlay fixed z-50 h-[100dvh] w-[100vw] bg-black/75 top-0 left-0"></label>
    <div class="mobile-navbar flex fixed z-[60] min-h-[100dvh] h-full top-0 transition-transform duration-300">
      <div class="h-full sm:w-28 w-20 rounded-l-full border-l border-l-neutral-500 bg-neutral-950"></div>
      <div class="flex flex-col justify-between h-full sm:gap-10 gap-8 sm:pt-32 sm:pb-16 pt-24 pb-10 bg-neutral-950 overflow-scroll">
        <div class="flex flex-col sm:gap-6 gap-4 sm:pl-8 sm:pr-28 pr-12">
          {links.map(link => (
            <a href=`#${link}` class="hover:text-primary-300 transition-colors duration-300">{link}</a>
          ))}
        </div>
        <div class="flex flex-row flex-wrap gap-x-6 gap-y-4">
          {contacts.map(contact => {
            return contact.name == "mail" ? (<a href={`mailto:${contact.url}`} class="text-link flex gap-1 items-center">
              <Icon name="mdi:email" />
              <span>mail</span>
            </a>) : (<a href={contact.url} class="text-link flex gap-1 items-center" target="_blank">
              {contact.name == 'linkedin' && <Icon name="mdi:linkedin" />}
              {contact.name == 'twitter' && <Icon name="mdi:twitter" />}
              {contact.name == 'github' && <Icon name="mdi:github" />}
              {contact.name == 'resume' && <Icon name="mdi:resume" />}
              <span>{contact.name}</span>
            </a>)
            })}
        </div>
      </div>
    </div>
  </div>

</div>

<style>
  .overlay {
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease, display 0.3s ease allow-discrete;
    pointer-events: all;
  }

  @starting-style {
    .overlay {
      opacity: 0;
    }
  }

  .mobile-navbar {
    left: 100%;
    transform: translateX(-2px);
  }

  label div {
    transform-origin: center center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
  }

  #nav:checked + label {
    + .overlay {
      display: block;
    }

    + .overlay + .mobile-navbar {
      transform: translateX(-100%);
    }

    > div > div:nth-child(1) {
      transform: scale(1.5) translateY(5px) rotate(45deg);
    }

    > div > div:nth-child(2) {
      transform: scaleX(0);
      opacity: 0;
    }

    > div > div:nth-child(3) {
      transform: scale(1.5) translateY(-2.5px) rotate(-45deg);
    }
  }
</style>
