---
import '../styles/global.css';
import type { Project } from '../data/type'
import Badge from './ui/Badge.astro'

type Prop = {
  project: Project;
}
const { project } = Astro.props as Prop;
---

<div class="flex flex-col gap-3">
  <div class="flex md:flex-row flex-col md:gap-2 gap-1 md:items-center justify-start">
    <h2 class="text-subheading lowercase">{project.name}</h2>
    <span class="md:block hidden w-1 h-4 border-r-white border-r"></span>
    <span class="text-caption lowercase">{project.date}</span>
  </div>
  <div class="flex flex-col md:gap-6 gap-4">
    <div class="flex flex-row flex-wrap justify-start md:gap-4 gap-2">
      {project.techs.map((tech) => (
      <Badge type={tech.type === 'main' ? "default" : (tech.type === 'sub' ? "outline" : "ghost")}>{tech.name}</Badge>
      ))}
    </div>
    <div class="text-body lowercase">{project.desc}</div>
  </div>
  <div class="">
    {project.url.github && <a href={project.url.github}>github</a>}
    {project.url.website && <a href={project.url.website}>website</a>}
  </div>
</div>

